.Rproj.user
.Rhistory
.RData
.Ruserdata
*.nc
dashboard_and_other
Plots/old
scripts/old
data/AIS 
data/mgmt_area_metrics/NEP_TROLL/NEP_MHW_monthly_metrics.rds
data/mgmt_area_metrics/NEP_TROLL/NEP_TROLL_CFGmetrics_monthly.rds
data/mgmt_area_metrics/NEP_TROLL/NEPTROLL_CFG_MHW.rds
data/mgmt_area_metrics/NWA_PLL/NWA_MHW_monthly_metrics_northern.rds
data/mgmt_area_metrics/NWA_PLL/NWA_MHW_monthly_metrics_southern.rds
data/mgmt_area_metrics/NWA_PLL/NWA_PLL_CFGmetrics_monthly.rds
data/mgmt_area_metrics/NWA_PLL/NWAPLL_CFG_MHW_northern.rds
data/mgmt_area_metrics/NWA_PLL/NWAPLL_CFG_MHW_southern.rds
data/oisst
data/old 
data/spatial_predictions
data/static
data/VDM_and_val
