.Rproj.user
.Rhistory
.RData
.Ruserdata
*.nc
*.svg
dashboard_and_other
Plots/old
scripts/old
data/AIS 
data/hycom
data/mgmt_area_metrics/NEP_TROLL/NEP_MHW_monthly_metrics.rds
data/mgmt_area_metrics/NEP_TROLL/NEP_TROLL_CFGmetrics_monthly.rds
data/mgmt_area_metrics/NEP_TROLL/NEPTROLL_CFG_MHW.rds
data/mgmt_area_metrics/NWA_PLL/NWA_MHW_monthly_metrics_northern.rds
data/mgmt_area_metrics/NWA_PLL/NWA_MHW_monthly_metrics_southern.rds
data/mgmt_area_metrics/NWA_PLL/NWA_PLL_CFGmetrics_monthly.rds
data/mgmt_area_metrics/NWA_PLL/NWAPLL_CFG_MHW_northern.rds
data/mgmt_area_metrics/NWA_PLL/NWAPLL_CFG_MHW_southern.rds
data/oisst
data/old 
data/spatial_predictions
data/static
data/VDM_and_val/NEP_TROLL/brt_VDM_gbm_step.rds
data/VDM_and_val/NEP_TROLL/brt_hoursabove1_VDM_eval_gbm_step.rds
data/VDM_and_val/NWA_PLL/brt_hoursabove1_VDM_gbm_step.rds
data/VDM_and_val/NWA_PLL/brt_hoursabove1_VDM_val_gbm_step.rds
data/VDM_and_val/NWA_PLL/brt_VDM_gbm_step.rds